@using Barcaliente.WebUI.Helpers
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no" />
    <meta name="description" content="Your description">
    <meta name="keywords" content="Your keywords">
    <meta name="author" content="Your name">
    <link rel="stylesheet" href="~/Content/css/camera-slider.css">
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/css/style.css">
    <link href="~/Content/css/barcaliente.css" rel="stylesheet" />
    <link href="~/Content/css/tooltipster.css" rel="stylesheet" />
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    @*<script src="~/Scripts/jquery-1.10.1.min.js"></script>*@
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery.easing.1.3.js"></script>
    <script src="~/Scripts/superfish.js"></script>
    <script src="~/Scripts/jquery.hoverIntent.minified.js"></script>
    <script src="~/Scripts/jquery.ui.totop.js"></script>
    <script src="~/Scripts/camera.js"></script>
    <script src="~/Scripts/jquery.mobilemenu.js"></script>
    @*<script src="~/Scripts/jquery.tooltipster.min.js"></script>*@
    <script src="~/Scripts/jquery.tooltipster.js"></script>
    <!--[if (gt IE 9)|!(IE)]><!-->
    <script type="text/javascript" src="~/Scripts/jquery.mobile.customized.min.js"></script>
    <!--<![endif]-->
    <script src="~/Scripts/script.js"></script>
    <script>
        $(window).load(function () {
            $().UItoTop({ easingType: 'easeOutQuart' });
        })        
    </script>
    <!--[if lt IE 8]>
	   <div style=' clear: both; text-align:center; position: relative;'>
		 <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
		   <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
		</a>
	  </div>
	<![endif]-->
    <!--[if lt IE 9]>
		<script type="text/javascript" src="~/Scripts/html5.js"></script>
		<link rel="stylesheet" type="text/css" media="screen" href="~/Content/css/ie.css">
	<![endif]-->
</head>
<body>
    <!--==============================header=================================-->
    <div class="main">
        <div class="head">
            <div class="container_12">
                <article class="grid_12">
                    <div class="inner-block">
                        <header>
                            <div class="order">
                                <em>Zamów teraz!</em>
                                <a href="tel:+690907690"><span>690</span> 907 690</a>
                            </div>
                            <div class="clear"></div>
                            <h1><a href="index.html">
                                <img src="~/Content/images/logo.png" alt=""></a></h1>
                            <nav>
                                <ul class="sf-menu responsive-menu">
                                    @Html.MenuItem("Home", "Index", "Home")<strong></strong>
                                    <li>@Html.MenuItem("Menu", "Menu", "Home")<strong></strong>
                                        @*<ul>
                                            <li>@Html.ActionLink("Pizza", "MenuCategory", "Home", new {categoryName = "Pizza"}, null)</li>
                                            <li>@Html.ActionLink("Fast Food", "MenuCategory", "Home", new {categoryName = "Fast Food"}, null)</li>
                                            <li>@Html.ActionLink("Nasze specjały", "MenuCategory", "Home", new {categoryName = "Nasze specjały"}, null)</li>
                                            <li>@Html.ActionLink("Sałatki", "MenuCategory", "Home", new {categoryName = "Sałatki"}, null)</li>
                                            <li>@Html.ActionLink("Mięsa", "MenuCategory", "Home", new {categoryName = "Mięsa"}, null)</li>
                                            <li>@Html.ActionLink("Owoce morza", "MenuCategory", "Home", new {categoryName = "Owoce morza"}, null)</li>
                                            <li>@Html.ActionLink("Pasty", "MenuCategory", "Home", new {categoryName = "Pasty"}, null)</li>
                                            <li>@Html.ActionLink("Dodatki", "MenuCategory", "Home", new {categoryName = "Dodatki"}, null)</li>
                                            <li>@Html.ActionLink("Sosy", "MenuCategory", "Home", new {categoryName = "Sosy"}, null)</li>
                                            <li>@Html.ActionLink("Napoje gorące", "MenuCategory", "Home", new {categoryName = "Napoje gorące"}, null)</li>
                                            <li>@Html.ActionLink("Napoje zimne", "MenuCategory", "Home", new {categoryName = "Napoje zimne"}, null)</li>
                                        </ul>*@
                                    </li>
                                    @Html.MenuItem("Dowóz nocny", "NightOrders", "Home")<strong></strong>
                                    @Html.MenuItem("Zamówienia specjalne", "SpecialOrders", "Home")<strong></strong>
                                    @Html.MenuItem("Galeria", "Gallery", "Home")<strong></strong>
                                    @Html.MenuItem("Kontakt", "Contact", "Home")<strong></strong>
                                    @Html.MenuItem("Praca", "Work", "Home")<strong></strong>
                                </ul>
                            </nav>
                            <div class="clear"></div>
                        </header>
                    </div>
                </article>
                <div class="clear"></div>
            </div>
        </div>
        @RenderBody()
        <!--==============================footer=================================-->
        <footer>
            <div class="main-footer">
                <div class="container_12">
                    <div class="grid_12">
                        <ul class="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Menu", "Menu", "Home")</li>
                            <li>@Html.ActionLink("Dowóz nocny", "NightOrders", "Home")</li>
                            <li>@Html.ActionLink("Zamówienia specjalne", "SpecialOrders", "Home")</li>
                            <li>@Html.ActionLink("Galeria", "Gallery", "Home")</li>
                            <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
                            <li>@Html.ActionLink("Praca", "Work", "Home")</li>
                        </ul>
                        <div class="inner-block">
                            <p>
                                BarCaliente &copy; 2013
                                <br>
                                <!--{%FOOTER_LINK} -->
                            </p>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
