<!--==============================content================================-->
<section id="content">
    <div class="container_12">
        <div class="grid_8">
            <div class="inner-block">
                <h2 class="padd">Przejżyj <span>Nasze Menu</span></h2>
                <div class="height"></div>
                <div class="box-2" id="bg">
                    <div class="inner-1">
                        @Html.ActionLink("Pizza", "MenuCategory", "Home", new {categoryName = "Pizza"}, null)<br>
                    </div>
                </div>
                <div class="box-2" id="bg-4">
                    <div class="inner-1">
                        @Html.ActionLink("Fast Food", "MenuCategory", "Home", new {categoryName = "Fast Food"}, null)<br>
                    </div>
                </div>
                <div class="box-2" id="bg-1">
                    <div class="inner-1">
                        @Html.ActionLink("Nasze specjały", "MenuCategory", "Home", new {categoryName = "Nasze specjały"}, null)<br>
                    </div>
                </div>
                <div class="box-2" id="bg-3">
                    <div class="inner-1">
                        @Html.ActionLink("Sałatki", "MenuCategory", "Home", new {categoryName = "Sałatki"}, null)<br>
                    </div>
                </div>
                <div class="box-2" id="bg-7">
                    <div class="inner-1">
                        @Html.ActionLink("Mięsa", "MenuCategory", "Home", new {categoryName = "Mięsa"}, null)<br>
                    </div>
                </div>
                <div class="box-2" id="bg-5">
                    <div class="inner-1">
                        @Html.ActionLink("Owoce morza", "MenuCategory", "Home", new {categoryName = "Owoce morza"}, null)<br>
                    </div>
                </div>
                <div class="box-2" id="bg-6">
                    <div class="inner-1">
                        @Html.ActionLink("Pasty", "MenuCategory", "Home", new {categoryName = "Pasty"}, null)<br>
                    </div>
                </div>
                <div class="box-2" id="bg-2">
                    <div class="inner-1">
                        @Html.ActionLink("Dodatki", "MenuCategory", "Home", new {categoryName = "Dodatki"}, null)<br>
                    </div>
                </div>
                <div class="box-2" id="bg-1">
                    <div class="inner-1">
                        @Html.ActionLink("Sosy", "MenuCategory", "Home", new {categoryName = "Sosy"}, null)<br>
                    </div>
                </div>                
                <div class="box-2" id="bg-3">
                    <div class="inner-1">
                        @Html.ActionLink("Napoje gorące", "MenuCategory", "Home", new {categoryName = "Napoje gorące"}, null)<br>
                    </div>
                </div>
                <div class="box-2" id="bg-3">
                    <div class="inner-1">
                        @Html.ActionLink("Napoje zimne", "MenuCategory", "Home", new {categoryName = "Napoje zimne"}, null)<br>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid_4">
            <div class="inner-block">
                <h2 class="padd">weekday <span>specials</span></h2>
                <div class="height"></div>
                <figure>
                    <img src="~/Content/images/page-2-img-9.jpg" alt="">
                </figure>
                <p class="top bot-1">
                    Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
             Fusce euismod consequat ante.
                </p>
                <ul class="list">
                    <li><a href="#">Lorem ipsum dolor</a></li>
                    <li><a href="#">Praesent vestibulum molestie</a></li>
                    <li><a href="#">Aenean nonummy hendrerit</a></li>
                    <li><a href="#">Nulla facilisi</a></li>
                    <li><a href="#">Etiam cursus leo vel metus</a></li>
                </ul>
                <div class="block-4">
                    <div class="inner-2">
                        <span>New fresh salads</span>
                        <strong>ideas</strong>
                        <div class="fright">
                            <a href="#">more<em><br>
                            </em>special<br>
                                propositions</a>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

                <div class="block-4 top-4">
                    <div class="inner-3">
                        <span>Fresh fruits in </span>
                        <strong>in ice</strong>
                        <div class="fright">
                            <a href="#">view more</a>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>
